<div class="container-fluid">
    <div class="row">
        
        <!-- <div class="container-fluid"> --> 
         <div class="col-lg-8 col-sm-8">
            <div class="row">
                <div class="col-lg-4 g-3">
                    <h4><b>Get in Touch</b></h4>
                    <ul>
                        <li><i class="fa-solid fa-location-dot icon"></i> 123 Street, New York, USA</li>
                        <li><i class="fa-regular fa-envelope-open icon"></i> info@pscmr.com</li>
                        <li><i class="fa-solid fa-phone icon"></i> +012 345 67890</li>
                    </ul>
                    <div class="col socialmedia">
                        <button class="btn btn-color rounded-circle">
                            <i class="fab fa-facebook-f"></i>
                        </button>&nbsp;
                        <button class="btn btn-color rounded-circle">
                            <i class="fab fa-twitter"></i>
                        </button>&nbsp;
                        <button class="btn btn-color rounded-circle">
                            <i class="fab fa-linkedin-in"></i>
                        </button>&nbsp;
                        <button class="btn btn-color rounded-circle">
                            <i class="fab fa-instagram"></i>
                        </button>&nbsp;
                        <button class="btn btn-color rounded-circle">
                            <i class="fab fa-youtube"></i>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 g-3">
                    <h4><b>QUICK LINKS</b></h4>

                    <ul>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Home </li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> About Us</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Class Schedule</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Our Trainers</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Products</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Contact Us</li>
                    </ul>

                </div>
                <div class="col-lg-4 g-3">
                    <h4><b>POPULAR LINKS</b></h4>

                    <ul>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Home </li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> About Us</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Class Schedule</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Our Trainers</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Products</li>
                        <li><i class="fa-solid fa-arrow-right icon"></i> Contact Us</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 text-center p-3" style="background-color: #FB5B21;">
            <h4 class="text-light"><b>NEWSLETTER</b></h4>
            <h6><b>SUBSCRIBE OUR NEWSLETTER</b></h6>
            <p>Amet justo diam dolor rebum lorem sit stet sea justo kasd</p>
            <div class="input-group">
                <input type="text" class="form-control border-white" placeholder="Your Email">
                <button class="btn btn-dark"><i class="fa-solid fa-bell"></i></button>
            </div>

            <br>
            <p>Desgined by <b>Code Warriors</b></p>
        </div>
        
    </div>
    <div class="row" style="background-color: #111111;">
        <h5 style="color: white; margin: 0% !important; padding: 0% !important;">&copy; <b>GYMSTER</b>. All Rights Reserved</h5>
    </div>
</div>