<div class="container-fluid">
    <div class="row text-center p-4" >
        <h2 class="para1">CLASSES SHEDULE</h2>
    </div>
    <div class="row text-center ">
        <p class="para2 text-top"><b>WORKING HOURS</b></p>
    </div>
    <div class="container-fluid g-5">
        <div class="row row1 p-2">
            <div class="col-lg-3" >
                <div class="card black text-center">
                    <h4 class="white">6.00AM - 8.00AM</h4>
                    <h2 class="orenge">POWER LIFTING</h2>
                    <h5 class="white">JHON DEO</h5>
                    <button class="btn btn-primary" (click)="product1.checkbtn()" *ngIf="product1.check">See more</button>
                </div>
                <div *ngIf="!product1.check1" class="p-1 para">
                    <b>Focus on Proper Technique:</b>
                    Emphasize correct form and technique before adding heavy weights. Proper execution reduces the risk of injury and maximizes results.
                        <br>
                    <b>Gradual Weight Progression:</b>
                    Increase weights progressively to challenge yourself without compromising form. Incremental progress leads to long-term strength gains.
                        <br>
                    <b>Prioritize Safety and Hydration:</b>
                    Stay hydrated and take adequate rest between sets. Listen to your body and stop if you feel discomfort. Safety comes first.
                        <br>
                    <b>Engage in Warm-Up and Cool-Down:</b>
                    Begin with a dynamic warm-up to prepare muscles and joints. End with static stretches to improve flexibility and aid recovery.
                        <br>
                    <b>Celebrate Achievements:</b>
                    Acknowledge your progress, whether it's lifting heavier weights or mastering better technique. Positive milestones drive motivation.
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card black text-center">
                    <h4 class="white">8.00AM - 10.00AM</h4>
                    <h2 class="orenge">BODY BUILDING</h2>
                    <h5 class="white">JAMES TAYLOR</h5>
                    <button class="btn btn-primary" (click)="product2.checkbtn()" *ngIf="product2.check">See more</button>
                </div>
                <div *ngIf="!product2.check1" class="p-1 para">
                    <b>Proper Form and Range of Motion:</b>
                    Prioritize correct exercise form over lifting heavy weights. Focus on controlled movements and a full range of motion to target muscles effectively and prevent injuries.
                        <br>
                    <b>Structured Workout Plan:</b>
                    Follow a structured routine that targets different muscle groups on different days. This approach allows for balanced muscle development and prevents overtraining.
                        <br>
                    <b>Vary Intensity and Reps:</b>
                    Alternate between different rep ranges (e.g., heavy weights with lower reps, moderate weights with moderate reps) to stimulate muscle growth through diverse stimuli.
                        <br>
                    <b>Nutrition and Hydration:</b>
                    Fuel your body with proper nutrition and stay hydrated throughout the workout. Adequate protein intake supports muscle repair and growth.
                        <br>
                    <b>Progressive Overload:</b>
                    Continuously challenge your muscles by gradually increasing weights or resistance. Progressive overload is key to building muscle strength and size over time.
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card black text-center">
                    <h4 class="white">10.00AM - 12.00PM</h4>
                    <h2 class="orenge">CARDIO PROGRAM</h2>
                    <h5 class="white">JACK SPARROW</h5>
                    <button class="btn btn-primary" (click)="product3.checkbtn()" *ngIf="product3.check">See more</button>
                </div>
                <div *ngIf="!product3.check1" class="p-1 para">
                    <b>Dynamic Warm-Up:</b>
                    Begin with an energetic warm-up that includes dynamic stretches and light cardio to prepare your muscles and raise your heart rate.
                    <br>
                    <b>Maintain Target Heart Rate:</b>
                    Aim for a sustained elevated heart rate within your target zone during the cardio session. This helps maximize cardiovascular benefits.
                    <br>
                    <b>Vary Intensity Levels:</b>
                    Incorporate interval training by alternating between high-intensity bursts and lower-intensity periods. This approach improves endurance and burns more calories.
                    <br>
                    <b>Stay Hydrated:</b>
                    Keep a water bottle nearby and take sips during breaks to stay hydrated throughout the session.
                    <br>
                    <b>Cool Down and Stretch:</b>
                    End the class with a gradual cool-down, followed by static stretches to help reduce muscle tension and promote flexibility.
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card black text-center">
                    <h4 class="white">12.00PM - 2.00PM</h4>
                    <h2 class="orenge">WEIGHT LOOSE</h2>
                    <h5 class="white">ROBERT SMITH</h5>
                    <button class="btn btn-primary" (click)="product4.checkbtn()" *ngIf="product4.check">See more</button>
                </div>
                <div *ngIf="!product4.check1" class="p-1 para">
                    <b>Balanced Nutrition:</b>
                    Focus on a well-rounded diet that includes lean proteins, whole grains, fruits, vegetables, and healthy fats. Proper nutrition is crucial for effective weight loss.
                    <br>
                    <b>Regular Exercise Routine:</b>
                    Commit to a consistent exercise routine that combines cardiovascular workouts, strength training, and flexibility exercises to support weight loss.
                    <br>
                    <b>Portion Control:</b>
                    Pay attention to portion sizes to avoid overeating. Smaller, balanced meals throughout the day can help manage calorie intake.
                    <br>
                    <b>Hydration and Mindful Eating:</b>
                    Stay hydrated and practice mindful eating by savoring each bite. Drinking water before meals can help control appetite.
                        <br>
                    <b>Track Progress and Set Goals:</b>
                    Keep a journal to track your food intake, exercise, and progress. Set achievable short-term and long-term goals to stay motivated.
                </div>
            </div>
        </div>

        <div class="row row1 p-2">
            <div class="col-lg-3 ">
                <div class="card black text-center ">
                    <h4 class="white">2.00PM - 4.00PM</h4>
                    <h2 class="orenge">FITNESS PROGRAM</h2>
                    <h5 class="white">ADAM PHILLIPS</h5>
                    <button class="btn btn-primary" (click)="product5.checkbtn()" *ngIf="product5.check">See more</button>
                </div>
                <div *ngIf="!product5.check1" class="p-1 para">
                    <b>Full-Body Workout:</b>
                Engage in exercises that target various muscle groups for a comprehensive fitness routine. Incorporate cardio, strength training, and flexibility exercises.
                    <br>
                <b>Proper Warm-Up and Cool-Down:</b>
                Begin with a dynamic warm-up to prepare muscles and joints. End with static stretches to promote flexibility and recovery.
                <br>
                <b>Functional Movements:</b>
                Include exercises that mimic real-life movements to improve overall functional fitness. This can enhance daily activities and reduce the risk of injury.
                <br>
                <b>Variation and Progression:</b>
                Continuously challenge yourself by varying workout routines and increasing intensity or resistance over time. This prevents plateaus and supports continuous improvement.
                <br>
                <b>Listen to Your Body:</b>
                Pay attention to how your body responds to different exercises. If something causes discomfort or pain, modify or skip it, and consult a trainer if needed.
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="card black text-center ">
                    <h4 class="white">4.00PM - 6.00PM</h4>
                    <h2 class="orenge">CROSSFIT CLASS</h2>
                    <h5 class="white">JAMES ALIEN</h5>
                    <button class="btn btn-primary" (click)="product6.checkbtn()" *ngIf="product6.check">See more</button>
                </div>
                <div *ngIf="!product6.check1" class="p-1 para">
                    <b>Functional Movements:</b>
                    Focus on compound movements that engage multiple muscle groups, such as squats, deadlifts, and overhead presses. These movements mimic real-life activities and promote overall strength.
                    <br>
                    <b>Proper Technique:</b>
                    Prioritize correct form and technique over speed or heavy weights. Proper execution is crucial to prevent injuries and optimize results.
                    <br>
                    <b>Warming Up:</b>
                    Begin with a dynamic warm-up that includes mobility exercises and light cardio to prepare your body for the intensity of the CrossFit workout.
                    <br>
                    <b>Scaling and Modification:</b>
                    Adjust exercises and weights to match your fitness level. CrossFit encourages scalability, allowing participants of different abilities to work out together.
                    <br>
                    <b>Community Support:</b>
                    Embrace the camaraderie and community aspect of CrossFit. Encourage and support your fellow participants as you all work toward your fitness goals.
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card black text-center ">
                    <h4 class="white">6.00PM - 8.00PM</h4>
                    <h2 class="orenge">MUSCLE BUILDING</h2>
                    <h5 class="white">PETTER JOHN</h5>
                    <button class="btn btn-primary" (click)="product7.checkbtn()" *ngIf="product7.check">See more</button> 
                </div>
                <div *ngIf="!product7.check1" class="p-1 para">
                    <b>Structured Routine:</b>
                    Follow a well-structured workout routine that targets different muscle groups on different days. This allows for adequate recovery and balanced muscle development.
                    <br>
                    <b>Compound Exercises:</b>
                    Include compound movements such as squats, deadlifts, bench presses, and rows. These exercises engage multiple muscle groups, promoting overall muscle growth.
                    <br>
                    <b>Progressive Overload:</b>
                    Continuously challenge your muscles by gradually increasing weights or resistance. Progressive overload is key to building muscle strength and size.
                    <br>
                    <b>Nutrition and Recovery:</b>
                    Prioritize protein-rich meals to support muscle repair and growth. Get adequate rest and sleep for optimal recovery.
                    <br>
                    <b>Form and Control:</b>
                    Focus on controlled repetitions with proper form. Avoid using momentum or swinging to lift weights, as this can compromise results and increase the risk of injury.
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="card black text-center ">
                    <h4 class="white">8.00PM - 10.00PM</h4>
                    <h2 class="orenge">YOGA CLASS</h2>
                    <h5 class="white">JESSY REO</h5>
                    <button class="btn btn-primary" (click)="product8.checkbtn()" *ngIf="product8.check">See more</button>
                </div>
                <div *ngIf="!product8.check1" class="p-1 para">
                    <b>Mindful Breathing:</b>
                    Focus on controlled breathing throughout the class. Deep and mindful breathing helps calm the mind and enhances the yoga practice.
                    <br>
                    <b>Proper Alignment:</b>
                    Pay attention to proper alignment in each yoga pose. Alignment ensures safety, prevents strain, and maximizes the benefits of the practice.
                    <br>
                    <b>Gentle Warm-Up:</b>
                    Begin with gentle stretches to warm up the body and prepare for deeper poses. Warming up helps reduce the risk of injury.
                    <br>
                    <b>Mind-Body Connection:</b>
                    Stay present and mindful during the practice. Connect with your body, thoughts, and emotions to experience the full benefits of yoga.
                    <br>
                    <b>Cool-Down and Relaxation:</b>
                    End the class with relaxing poses and a guided relaxation (savasana). This helps reduce stress, promote relaxation, and integrate the benefits of the practice.
                </div>
            </div>
        </div>
    </div>
</div>    