<div class="text">THE TEAM</div>
<div class="text2">EXPERT TRAINER</div>
<br>

<div class="container">
  <div class="row">
      <div class="col-md-4">
          <div class="team-area">
              <div class="img-area">
                  <img src="assets/images/team-1.jpg" alt='' class="img-responsive">
              </div>
              <div class="social">
                <img src="assets/images/icon.png" style="height: 60px; width: 80px;">
              </div>
              <div class="img-text">
                  <h4>JHONE DEO</h4>
                  <h5>TRAINER</h5>
              </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="team-area">
            <div class="img-area">
                <img src="assets/images/team-3.jpg" alt='' class="img-responsive">
            </div>
            <div class="social">
              <img src="assets/images/icon.png" style="height: 60px; width: 80px;">
            </div>
            <div class="img-text">
                <h4>JAMES TAYLOR</h4>
                <h5>TRAINER</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="team-area">
          <div class="img-area">
              <img src="assets/images/team-2.jpg" alt='' class="img-responsive">
          </div>
          <div class="social">
            <img src="assets/images/icon.png" style="height: 60px; width: 80px;">
          </div>
          <div class="img-text">
              <h4>ADAM PHILIPS</h4>
              <h5>TRAINER</h5>
          </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="team-area">
        <div class="img-area">
            <img src="assets/images/team-2.jpg" alt='' class="img-responsive">
        </div>
        <div class="social">
          <img src="assets/images/icon.png" style="height: 60px; width: 80px;">
        </div>
        <div class="img-text">
            <h4>ADAM PHILIPS</h4>
            <h5>TRAINER</h5>
        </div>
    </div>
</div>
<div class="col-md-4">
  <div class="team-area">
      <div class="img-area">
          <img src="assets/images/team-1.jpg" alt='' class="img-responsive">
      </div>
      <div class="social">
           <img src="assets/images/icon.png" style="height: 60px; width: 80px;">
      </div>
      <div class="img-text">
          <h4>JHON DEO</h4>
          <h5>TRAINER</h5>
      </div>
  </div>
</div>
<div class="col-md-4">
  <div class="team-area">
      <div class="img-area">
          <img src="assets/images/team-3.jpg" alt='' class="img-responsive">
      </div>
      <div class="social">
        <img src="assets/images/icon.png" style="height: 60px; width: 80px;">
      </div>
      <div class="img-text">
          <h4>JAMES TAYLOR</h4>
          <h5>TRAINER</h5>
      </div>
  </div>
</div>

