<div class="background">

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <img src="../../assets/equipment.jpg" class="equipment">
                <h3><b>GYM EQUIPMENT</b></h3>
            </div>
        </div>
    </div>
    <br><br>
    <!-- <div class="row" >
        <div class="col-lg-4  card">
            <div class="card">
                <div class="card">
                    <img src="../../assets/equ_dumbell.jpg" class="card-img-top images">
                </div>
                <p>
                    DUMBELL
                    Rs 1250/-
                </p>
                <button (click)="checkbtn()"  class="btn btn-primary" *ngIf=check>Add to Caet</button>
                <button (click)="dec()"  class="btn btn-primary" *ngIf=!check>dec</button>&nbsp;
                <label  *ngIf=!check>{{cnt}}</label>&nbsp;
                
                <button (click)="inc()"  class="btn btn-primary" *ngIf=!check>inc</button>
        </div>
        </div>

        <div class="col-lg-4 text-center card">
            <div class="card">
                <img src="../../assets/equ_weight_lift.png" class="card-img-top images">
                <p>
                    DUMBELL
                    Rs 1250/-
                </p>
                <button (click)="checkbtn()"  class="btn btn-primary" *ngIf=check>Add to Caet</button>
                <button (click)="dec()"  class="btn btn-primary" *ngIf=!check>dec</button>&nbsp;
                <label  *ngIf=!check>{{cnt}}</label>&nbsp;
                
                <button (click)="inc()"  class="btn btn-primary" *ngIf=!check>inc</button>
                </div>
        </div>

        <div class="col-lg-4 text-center">
            <div class="card">
                <img src="../../assets/equ_tredmill.jpg" class="card-img-top images">
                <p>
                    DUMBELL
                    Rs 1250/-
                </p>
                <button (click)="checkbtn()"  class="btn btn-primary" *ngIf=check>Add to Caet</button>
                <button (click)="dec()"  class="btn btn-primary" *ngIf=!check>dec</button>&nbsp;
                <label  *ngIf=!check>{{cnt}}</label>&nbsp;
                
                <button (click)="inc()"  class="btn btn-primary" *ngIf=!check>inc</button>
            </div>
        </div>
    </div> -->


    <div class="container ">
        <div class="row equ_row g-5">
            <div class="col-lg-4 increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/equ_dumbell.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>DUMBELL</b></h3>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f">&#8377;599.00</span>&nbsp;
                                        &nbsp; &#8377;499.00
                                    </h5>
                                </div>
                                <div class="col-8 text-end">
                                    <p class="card-text">
                                        <a href="https://rzp.io/i/Qc3yilIHMM"> <button
                                                class="btn btn-primary btn-color">Buy Now</button> </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/equ_weight_lift.png" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>WEIGHT LIFTER</b> </h3>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f">&#8377;1199.00</span>&nbsp;
                                        &nbsp;&#8377;999.00</h5>
                                </div>
                                <div class="col-8 text-end">
                                    <p class="card-text">
                                        <a href="https://rzp.io/i/m4vDS0GAFT"> <button
                                                class="btn btn-primary btn-color">Buy Now</button> </a>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/equ_tredmill.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>TREDMILL</b></h3>
                            <div class="row">
                                <div class="col-6">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f; font-size: 17px;">&#8377;32999.00</span>&nbsp;
                                        &nbsp;&#8377;30999.00</h5>
                                </div>
                                <div class="col-6 text-end">
                                    <p class="card-text">
                                        <a href="https://rzp.io/i/oA45GhvuRR"><button
                                                class="btn btn-primary btn-color">Buy Now</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <img src="../../assets/powder.jpg" class="equipment">
                <h3><b>PROTEIN POWDERS</b></h3>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row equ_row g-5">
            <div class="col-lg-4  increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/pro_1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><b>MUSCALEBLAZE BEGINNER'S PROTEIN</b></h4>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f">&#8377;2500.00</span>&nbsp;
                                        &nbsp;&#8377;2350.00
                                    </h5>
                                </div>

                                <div class="col-8 text-end">
                                    <p class="card-text">
                                        <a href="https://rzp.io/i/7ug3pON"><button class="btn btn-primary btn-color"
                                                *ngIf="product4.check">Buy Now</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/pro_2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>MUSCALEBLAZE GOLD PROTEIN</b></h3>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f">&#8377;7000.00</span>&nbsp;
                                        &nbsp;&#8377;6450.00
                                    </h5>
                                </div>

                                <div class="col-8 text-end">
                                    <p class="card-text">
                                        <a href="https://rzp.io/i/iIb0l7QI"><button
                                                class="btn btn-primary btn-color">Buy Now</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/pro_3.png" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>MASS GAINER</b></h3>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span style="text-decoration: line-through; color:#686a6f">&nbsp;&#8377;4000.00
                                        </span> &nbsp;
                                        &#8377;3499.00</h5>
                                </div>
                                <div class="col-8 text-end">
                                    <p class="card-text">
                                        <a href="https://rzp.io/i/pcSHrGHvm"> <button
                                                class="btn btn-primary btn-color">Buy Now</button></a>
                                        <button (click)="product6.dec()" class="btn btn-primary btn-color"
                                            *ngIf="!product6.check">Dec</button>&nbsp;
                                        <label *ngIf="!product6.check">{{product6.cnt}}</label>&nbsp;
                                        <button (click)="product6.inc()" class="btn btn-primary btn-color"
                                            *ngIf="!product6.check">Inc</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <img src="../../assets/tshirt.jpg" class="equipment">
                <h3><b>GYM T-SHIRTS</b></h3>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row equ_row g-5">
            <div class="col-lg-4  increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/tshirt1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>SINGLE</b></h3>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f">&#8377;500.00</span>&nbsp;
                                        &nbsp;&#8377;449.00
                                    </h5>
                                </div>
                                <div class="col-8 text-end">
                                    <p class="card-text">
                                        <a href="https://rzp.io/i/DyrfmZ1puq"> <button
                                                class="btn btn-primary btn-color">Buy Now</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/tshirt_2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>SINGLE</b></h3>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f">&#8377;500.00</span>&nbsp;
                                        &nbsp;&#8377;439.00
                                    </h5>
                                </div>
                                <div class="col-8 text-end">
                                    <p class="card-text">
                                       <a href="https://rzp.io/i/VaXWdrDz0s"> <button (click)="product8.checkbtn()" class="btn btn-primary btn-color">Buy Now</button> </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/tshirt_3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>COMBO</b></h3>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f">&#8377;1499.00</span>&nbsp;
                                        &nbsp;&#8377;1199.00
                                    </h5>
                                </div>
                                <div class="col-8">
                                    <p class="card-text text-end">
                                        <a href="https://rzp.io/i/exYELjZg"> <button class="btn btn-primary btn-color">Buy Now</button> </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12">
                <img src="../../assets/pant.png" class="equipment">
                <h3><b>GYM TRACK PANTS</b></h3>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row equ_row g-5">
            <div class="col-lg-4  increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/pant_1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>SINGLE</b></h3>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f">&#8377;500.00</span>&nbsp;
                                        &nbsp;&#8377;439.00
                                    </h5>
                                </div>
                                <div class="col-8 text-end">
                                    <p class="card-text">
                                       <a href="https://rzp.io/i/0Yt0WmGjRe"> <button (click)="product10.checkbtn()" class="btn btn-primary btn-color">Buy Now</button> </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/pant_2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>SINGLE</b></h3>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f">&#8377;599.00</span>&nbsp;
                                        &nbsp;&#8377;499.00
                                    </h5>
                                </div>
                                <div class="col-8 text-end">
                                    <p class="card-text">
                                       <a href="https://rzp.io/i/2NyYMsbU"> <button (click)="product11.checkbtn()" class="btn btn-primary btn-color"
                                            *ngIf="product11.check">Buy Now</button> </a>
                                      
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  increase-card">
                <div class="card">
                    <div class="container p-2">
                        <img class="card-img-top images" src="../../assets/pant_3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title"><b>SINGLE</b></h3>
                            <div class="row">
                                <div class="col-4">
                                    <h5><span
                                            style="text-decoration: line-through; color:#686a6f">&#8377;449.00</span>&nbsp;
                                        &nbsp;&#8377;399.00
                                    </h5>
                                </div>
                                <div class="col-8 text-end">
                                    <p class="card-text">
                                       <a href="https://rzp.io/i/QZjpbwWKl6"> <button class="btn btn-primary btn-color">Buy Now</button> </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br><br>
    </div>
</div>